*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-image: url(../kepek/hatter.jpg);
    
}
main{
    width: 80%;
    max-width: 1000px;
    
    background-color: rgb255, rgb(255, 255, 230);
}
header{
    opacity: 0.8;
    background-image: url(../kepek/fejlec.jpg);
    height: 150px;
    color: red;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}

aside img{
    width: 100px;
    
}
aside{
    display: grid;
    grid-template-columns: auto;
}
nav{
    
    border-top: 1rem;
    border-bottom: 1rem;
    border-style: solid;
    border-color: white;
    text-align: center;
    
    
    

}
nav li{
    
    display: inline-block;
    list-style-type: none;
    

}
nav ul{
    background-color: red;
    padding: 20px;
    

}
nav:hover{
    background-color: green;

}
article{

    text-align: justify;
    font-size: 10px;
    display: flex;
    overflow: auto;
    
}
article h2{
    color: #ff1a1a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
article img{
    float: left;
    border-radius: 1px;
    box-shadow: 5px 5px 10px black;
}
article p{
    padding: 10px;
}
